<form [formGroup]="signUpForm" (ngSubmit)="signUp(this.signUpForm.get('email').value, this.signUpForm.get('password').value)">
  <div class="d-flex flex-column">
    <h2 class="text-center mt-4">
      Sign up
    </h2>
    <div class="d-flex flex-column mt-3">
      <label for="email">User email</label>
      <input type="text"
             id="email"
             formControlName="email"
             placeholder="Email"
             (keypress)="clearError()"
      >
    </div>
    <div class="d-flex flex-column mt-3">
      <label for="password">User password</label>
      <input type="password"
             id="password"
             formControlName="password"
             placeholder="Password"
             (keypress)="clearError()"
      >
      <span style="font-size: 12px">
        Password must be at least 8 characters long and include a lowercase, uppercase character and a number
      </span>
    </div>
    <span style="color: red; font-size: 14px;" *ngIf="errorMessage !== ''">{{ errorMessage }}</span>
    <button class="mt-3"
            type="submit"
            [disabled]="!signUpForm.valid || errorMessage !== ''">Sign up
    </button>
  </div>

</form>
